// Dark theme
$dark-primary-color-body: #0d0d0d;
$dark-logo: url("../../public/img/logo-dark.png");
$dark-logo-mobile: url("../../public/img/logo-dark-mobile.png");

$dark-secondary-color-text: #fff;

// Light theme
$light-primary-color-body: #fff;
$light-primary-color-header: #fff;
$light-logo: url("../../public/img/logo-light.png");
$light-logo-mobile: url("../../public/img/logo-light-mobile.png");

$light-secondary-color-text: #191919;
