:root {
  --font-family: "Sofia Pro", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Poppins", sans-serif;
  --font3: "Source Sans Pro", sans-serif;

  --color-primary-header: linear-gradient(180deg, rgba(245, 71, 72, 0.06) 0%, rgba(245, 71, 72, 0.06) 100%);
  --color-secondary-red: #f54748;

  --color-secondary-red-hover: rgba(252, 91, 93, 0.79);
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
